.Rproj.user
.Rhistory
.RData
.Ruserdata
cmm2d-new-functions.R
ReferencesMaster.bib
js-zk-multdim-estat-results.RData
js_zk-multdim-estat-data.R
js-zk-multdim-results-alt.pdf
js-zk-multdim-results-alt.qmd
status_allocation_functions.r